body{
    background-image: url(/img/01.jpg);
}
.cuerpo{
    padding: 45px;
}
.contenedor{
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow:  25px 25px 50px #bebebe,
             -25px -25px 50px #ffffff;
}

td{
    border: 1px solid;
    border-color: white;
    text-align: center;
    width: 20em;
    height: 2em;
}

.hora, .empty{
border: 0;
}